<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap">
  </head>
  <body>
    <div class="Container-Home">
      <div class="nav-bar">
        
        <a href="/" class="Container-Logo"><img src="img/CatCare.png" alt=""></a>

        <div class="Container-Links">
          <a href="/addPost">Adauga un post</a>
          <a href="/AddCategory">Adauga o categorie</a>
        </div>


        <div class="side-bar">
          <div class="Container-exit"><i class="fa-solid fa-x exit"></i></div>
          <div class="Container-links-side">
            <a href="/AddPost">Adauga un post</a>
            <a href="/AddCategory">Adauga o categorie</a>
          </div>
        </div>

        <div class="bars"><i class="fa-solid fa-bars"></i></div>
      </div>

      
      <!-- test hero nou -->

      <div class="Container-Hero">
        <div class="Container-Mare-Img">
            <div class="Container-Mic-Img unu">
                <div class="rect"><img src="../img/special_needs2.jpg" alt=""></div>
                <div class="rect"><img src="../img/kitten4.jpg" alt=""></div>
            </div>
            <div class="Container-Mic-Img doi">
                <div class="rect"><img src="../img/open_space_cat2.jpg" alt=""></div>
                <div class="rect"><img src="../img/private_room1.jpg" alt=""></div>
            </div>
         </div>
        <div class="Container-Mare-Scris">
             <div class="Container-Titlu">
                 <p>De la gheare fine la priveliști divine: Găsește o cazare de vis pentru felinele tale!</p>
             </div>
             <div>
                 <div class="Container-Mic-Scris">
                     <p>Cu pasiunea noastră pentru animalele pufoase, le oferim locuințe rafinate și plăcute,
                          unde stilul și confortul se împletesc armonios într-o expresie autentică a iubirii noastre!</p>
 
                     <div class="Container-Butoane">
                         <a href="/AddCategory">Adauga o categorie</a>
                         <a href="/addPost">Adauga un post</a>
                     </div>
                 </div>
             </div>
        </div>
     </div>

      <!-- test hero nou fianl -->

      <div class="posts-and-categories">
        <div class="categories">
          <h1>Categorii</h1>
          <div class="categories-content">
            <% data.categories.forEach(result => { %>
              <a class="catogory" href="<%= result.name %>">
                 <div class="Container-Icon">
                  <i class="fa-solid fa-house"></i>
                 </div> 
                 <div class="Container-Text">
                  <p><%=  result.name %></p>
                  <p><%= result.numberOfPosts %> posts</p>
                 </div>
              </a>  
              <% }); %>
              
          </div>
        </div>
        <div class="last-4-posts">
         
          <%data.posts.map(element => {%>
            <div class="post">
              <a href="/<%=element.Type%>/<%=element._id%>">
                <img src="<%=element.image%>" alt="ai introduse uri-ul gresit">
                <div class="content">
                  <div>
                    <div class="fist-line">
                      <p class="title"><%=element.title%></p>
                      <p class="category"><%=element.Type%></p>
                    </div>
                    <p class="text"><%=element.Description%></p>
                  </div>
                  <div class="flex-1">
                    <p class="date"><%=element.startDate.getFullYear()%>/<%=element.startDate.getMonth()%>/<%=element.startDate.getDate()%> - <%=element.endDate.getFullYear()%>/<%=element.endDate.getMonth()%>/<%=element.endDate.getDate()%></p>
                    <p><%=element.pricePerRoom%> lei/Noapte</p>
                  </div>  
                  
                </div>
              </a>
            </div>
          <%})%>
          
        </div>
        
      </div>

    </div>
    <script src="client.js"></script>
    <script src="javascript/index.js"></script>
  </body>
</html>
