<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <div class="Container-Home">
      <div class="nav-bar">
        
        <a href="/" class="Container-Logo"><img src="img/CatCare.png" alt=""></a>

        <div class="Container-Links">
          <a href="/addPost">Adauga un post</a>
          <a href="/AddCategory">Adauga o categorie</a>
        </div>


        <div class="side-bar">
          <div class="Container-exit"><i class="fa-solid fa-x exit"></i></div>
          <div class="Container-links-side">
            <a href="/AddPost">Adauga un post</a>
            <a href="/AddCategory">Adauga o categorie</a>
          </div>
        </div>

        <div class="bars"><i class="fa-solid fa-bars"></i></div>
      </div>

      <div class="Descriere-Aplicatie">
        <div class="Descriere-Aplicatie-Text">
          <p>Promovează-ți afacerea de îngrijire a pisicilor prin intermediul aplicației noastre.</p>
          <p>Posteaza un anunt pe Cat Care!</p>
        </div>
  
        <div class="Button-Div">
          <a href="/addCategory">adauga o categorie noua</a>
        </div>
      </div>

      <div class="posts-and-categories">
        <div class="last-3-posts">
         
          <%data.posts.map(element => {%>
            <div class="post">
              <a href="/<%=element.Type%>/<%=element._id%>">
                <img src="<%=element.image%>" alt="ai introduse uri-ul gresit">
                <div class="content">
                  <div>
                    <div class="fist-line">
                      <p class="title"><%=element.title%></p>
                      <p class="category"><%=element.Type%></p>
                    </div>
                    <p class="text"><%=element.Description%></p>
                  </div>
                  <div class="flex-1">
                    <p class="date"><%=element.startDate.getFullYear()%>/<%=element.startDate.getMonth()%>/<%=element.startDate.getDate()%> - <%=element.endDate.getFullYear()%>/<%=element.endDate.getMonth()%>/<%=element.endDate.getDate()%></p>
                    <p><%=element.pricePerRoom%> lei/Noapte</p>
                  </div>  
                  
                </div>
              </a>
            </div>
          <%})%>
          
        </div>
        <div class="categories">
          <h1>Categorii</h1>
          <div class="categories-content">
            <% data.categories.forEach(result => { %>
              <a class="catogory" href="<%= result.name %>">
                 <div class="Container-Icon">
                  <i class="fa-solid fa-house"></i>
                 </div> 
                 <div class="Container-Text">
                  <p><%=  result.name %></p>
                  <p><%= result.numberOfPosts %> posts</p>
                 </div>
              </a>  
              <% }); %>
              
          </div>
        </div>
      </div>

    </div>
    <script src="client.js"></script>
    <script src="javascript/index.js"></script>
  </body>
</html>
